<% form_tag('/email', :action => "send_mail", :id => 'contact_form') do  %>
  <div class="field">
  <%= label :email, :name, "Name:" %>
  <%= text_field :email, :name %>
  </div>
  <div class="field">
  <%= label :email, :address, "Address:" %>
  <%= text_field :email, :address, :class => 'required email' %>
  </div>
  <div class="field">
  <%= label :email, :subject, "Subject:" %>
  <%= text_field :email, :subject %>
  </div>
  <div class="field">
  <%= label :email, :body, "Message:" %>
  <%= text_area :email, :body, :rows => 8, :cols => 50 %>
  </div>
  <%= submit_tag "Send", :class => 'button', :id => 'submit_email' %> 
<% end %>