		<nav>
          <ul>
			<li><%= link_to 'Home', webhome_path, :class => is_active?(webhome_path) %></li>
		   <li><%= link_to "About", about_path, :class => is_active?(about_path) %></li>
	      <li><%= link_to "Contact", contact_path, :class => is_active?(contact_path) %></li>
			<li><%= link_to "Resume", resume_path, :class => is_active?(resume_path) %></li>
			<li><%= link_to "Projects", projects_path, :class => is_active?(projects_path) %></li>			
          </ul>
        </nav>	