<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= page_title %></title>
	<%= render :partial => "partials/stylesheets" %>
	<%= render :partial => "partials/scripts" %>
	<%= yield :html_head %>
  </head>
  <body>
    <%= cms_toolbar %>
    <div id="wrapper" class="container">
	    <div id="left" class="sidebar">
			<%= render_menu %>
			<div id="header">
				<%= image_tag("logo.png", :alt => "howiebornlogo", :class => "logo", :height => "70px") %>
			</div>
			<%= container :quote %>
			<nav>
			    <ul>
				<li>Sign In</li>
				<li>Portfolio</li>
				<li>Projects</li>
				<li>Resume</li>
				<li>Articles</li>
				</ul>
			</nav>
			<%= container :statement %>
			<%= container :newsfeed %>
		    <%= container :footer %>
		</div>
		<div id="right" class="main">
		    <%= render_breadcrumbs %>
			<div id="title"><%= page_title %></div>
			<%= container :main %>
		</div>
	</div>

  </body>
</html>
