<%= render 'layouts/webhome' %>

<ul id="slider1">
  
    <li>
      <div id="projectName"><h3>Boydsprattgolfwear - Site Redesign</h3></div>
		<div id="projectImage"><%= image_tag("noimage.gif", :alt => "No Image Available", :height => "200px") %></div>
		<div id="projectInfo">
			Boydsprattgolfwear is a small business that has been selling golf clothing and accessories. Due to recent expansion and increased sales
			the website for this company also needs to be upgraded. I have developed an ecommerce site using ruby on rails. The site is 
			designed to be simple and easy to use. This site has been changed to provide more administration functionality. It has also been
			redesigned to provide a customer base and inventory management.		
		</div>
    </li>
    
    <li>
	 	<div id="projectName"><h3>Boydsprattgolfwear - e-commerce website design</h3></div>
		<div id="projectImage"><%= image_tag("boyds-site-1.png", :alt => "No Image Available") %></div>
		<div id="projectInfo">
			Boydsprattgolfwear is a small business that has been selling clothing on ebay. Due to recent expansion and increased sales
			the website for this company also needs to be upgraded. I have developed an ecommerce site using php. The site is 
			designed to be simple and easy to use. This site developed with php provides simple ecommerce functionality for selling clothing online.
		</div>
    </li>
    
    <li>
      <div id="projectName"><h3>Marylou Fashion Boutique - Concept Design</h3></div>
		<div id="projectImage"><%= image_tag("marylou-concept-design.png", :alt => "No Image Available") %></div>
		<div id="projectInfo">
		This project was designed for a prototype for a small clothing boutique. It was designed for an expansion of a smaller company.
		It was programmed in PHP using a MySQL database. 		
		</div>
    </li>
    
    <li>
      <div id="projectName"><h3>Small Business Template Website - Clapham Removals</h3></div>
		<div id="projectImage"><%= image_tag("islingtonmoves-site.png", :alt => "No Image Available") %></div>
		<div id="projectInfo">
			A number of websites designed to show business information. Some functionality included being able to submit testimonials and take online quotes.
			The website was also integrated with photo galleries and mail capabilities.		
		</div>
    </li>
    
  </ul>




