<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui', 'jquery.bxSlider.min'%>

<script type="text/javascript">

	$(function(){
  	$('#slider1').bxSlider({
    infiniteLoop: false,
    hideControlOnEnd: true
  		});
	});
  
    $(function () {
    var tabContainers = $('div.panel > div');
    
        $('div.tabs ul.tabNav a').click(function () {
        tabContainers.hide().filter(this.hash).show();
        
        $('div.tabs ul.tabNav a').removeClass('selected');
        $(this).addClass('selected');
        
        return false;
        }).filter(':first').click();
    });
    </script>
  </head>
  <body>
    <div class="container">
        <%= yield %>
		</div>
		</div> <!-- These Divs correlate to webhome layout -->
	  <%= render 'layouts/footer' %>		
	   </div></div> <br>  
	  <p>
      <%= debug(params) if Rails.env.development? %>
	  </p>

  </body>
</html>
